p{
    text-indent: 25px;
    }
    .sidebar{
        position: fixed;
        top: 10%;
        width: 15%;
        padding: 20px;
        overflow: auto;
        height: 100%;
        color: white;
    }
    .main{
        margin-left: 15%;
        margin-right: 15%;
        padding: 20px;
    }
    .yazılar{
        background-color: aliceblue;
    }
    .yazı{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    a{
        color: rgb(2, 247, 255);
    }
    .menü{
        display: grid;
        flex-direction: column;
        height: max-content;
        
    }
    .navbar{
       justify-content: center;
       color: black;
    }
    .navbar-nav .nav-link.active {
         text-decoration: underline;
    }
    .navbar-nav .nav-link:hover {
        color: rgb(0, 242, 255);
    }
    .slaytlar{
        width: 60%;
        height: 55%;
        margin: auto;
        margin-top: 5%;
    }
    #kckresim{
        width: 35%;
        height: 4%;
        margin: auto;
    }
    body{
        background-image: url(https://e1.pxfuel.com/desktop-wallpaper/976/460/desktop-wallpaper-really-pretty-backgrounds-zone-backgrounds-really-pretty-backgrounds.jpg);
        background-size: cover;
        background-attachment: fixed;
    }