.navbar{
    justify-content: center;
 }
 .navbar-nav .nav-link.active {
      text-decoration: underline;
 }
 .navbar-nav .nav-link:hover {
     color: rgb(0, 234, 255);
 }
 .icerik{
    display: flex;
    margin: auto;
    margin-top: 10%;
 }
 .sag_rsm{
     width: 23%;
     text-align: center;
 }
 .sol_rsm{
     width: 23%;
     text-align: center;
 }
 img{
     width: 90%;
     height: 4.2%;
 }
 figure img{
     height: 6%;
 }
 .sag_rsm p{
     color: rgb(255, 255, 255);
 }
 .sol_rsm p{
     color: rgb(255, 255, 255);
 }
 .yazısınırları{
     width: 54%;
 }
 .yazı{
     background-color: aliceblue;
     margin: auto;
 }

 p{
    text-indent: 20px;
     font-size: 15pt;
     
 }
 .oyuncular p{
     white-space: pre-line;
     margin-left: 40pt;
     text-indent: 0;
     background-color: aliceblue;
     text-align: center;
     margin-right: 40pt;
 }
 h4{
     font-weight:normal ;
     background-color: aliceblue;
     text-align: center;
     background-size: contain;
 }
 h2{
     background-color: aliceblue;
     text-align: center;
 }
 body{
     background-size: cover;
     background-repeat: 0;
     background-attachment: fixed;
     background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20230616/pngtree-soccer-field-in-a-3d-rendered-stadium-image_3633766.jpg);
 }
 h1{
     text-align: center;
 }